* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --color-primary: #fed28b;
    --primary-hover: #3C5A7F;
    --color-secondary: #fed28b;
    --background-color: linear-gradient(to top,rgb(224, 108, 1), rgb(223, 146, 78), rgb(214, 182, 135), rgb(192, 218, 193), rgb(145, 253, 253));
}

body {
    background: var(--background-color);
    font-family: sans-serif;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.nav-container {
    width: 70%;
    height: 90px;
    background-color: var(--primary-hover);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: sticky;
    top: 0;
    border-radius: 0 0 20px 20px;
    z-index: 100;
}

.logo {
    font-size: 4rem;
    font-style: italic;
    display: flex;
    font-weight: bolder;
    align-items: center;
    gap: 15px;
    color: var(--color-primary);
}

.logo-sm {
    max-width: 40%;
    font-weight: lighter;
    font-size: 1.5rem;
    font-style: normal;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 45px;
    font-size: 1.5rem;
    height: 100%;
}

.nav-link {
    padding: 1rem 2rem;
    cursor: pointer;
}

.nav-link, .nav-link > a {
    color: var(--color-primary);
    font-weight: bolder;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease-out;
}

.nav-link:hover > a {
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    font-size: 2rem;
}

.main-title {
    color: var(--primary-hover);
}

.characters {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 3rem;
    padding: 3rem 2rem;
}

.character-container {
    width: 300px;
    background-color: var(--primary-hover);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 1rem;
    transition: .4s ease-in-out;
    box-shadow:  10px 10px 20px #0000006d;
}

.character-container:hover {
    transform: scale(1.1);
    box-shadow:  10px 10px 20px #0000003d;
}

.character-container *:not(hr) {
    color: var(--color-secondary);
}

.character-container b {
    font-weight: bolder;
}

.character-img {
    background-color: white;
    width: 100%;
    max-height: 250px;
    object-fit: scale-down;
    border-radius: 10px;
    border: 5px solid var(--color-secondary);
    margin-bottom: 20px;
}

.character-name {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.character-name ~ * {
    font-size: 1rem;
    margin-bottom: 10px;
}

.main-buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.main-buttons > button {
   font-size: 1.2rem;
   text-transform: uppercase;
   color: var(--color-primary);
   padding: 10px 25px;
   background-color: cornflowerblue;
   border-radius: 10px;
   outline: none;
   border: none;
   transition: .3s;
   cursor: pointer;
   box-shadow:  10px 10px 20px #0000003d;
}

.main-buttons > button:hover {
    filter: brightness(0.9);
}

.main-buttons > button:active {
    transform: translateY(10px);
}

hr {
    color: #fff!important;
}


@media (max-width: 950px) {
    .nav-list {
        display: none;
    }

    .nav-container {
        width: 100%;
        border-radius: 0;
    }

    .main-buttons {
        margin-top: 100px;
        gap: 40px;
    }

    .logo {
        font-size: 2rem;
        flex-direction: column;
    }

    .logo-sm {
        font-size: 1rem;
        max-width: max-content;
    }

    .main-title {
        font-size: 2rem;
        text-align: center;
    }

    .characters {
        padding: 0;
    }

    .character-container {
        transform: scale(.8);
        margin-bottom: -80px;
    }

    .character-container:hover {
        transform: scale(.9);
    }

    .main {
        padding: 3rem 1rem;
    }
}