@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 100%;
    overscroll-behavior: none;
    text-decoration: none;
}

:root {
    --color-primary: #ff9d00;
    --primary-hover: #3C5A7F;
    --color-secondary: #fff;
    --background-color: linear-gradient(to top,rgb(246, 171, 101), rgb(223, 146, 78), rgb(214, 182, 135), rgb(192, 218, 193), rgb(145, 253, 253)) 50%;
}

body {
    background: var(--background-color);
    font-family: sans-serif;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.nav-container {
    width: 70%;
    height: 90px;
    background-color: var(--primary-hover);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: sticky;
    top: 0;
    border-radius: 0 0 20px 20px;
    z-index: 100;
    box-shadow: 0 0 20px #000000bd;
}

.logo {
    font-size: 4rem;
    font-style: italic;
    display: flex;
    font-weight: bolder;
    align-items: center;
    gap: 15px;
    color: var(--color-secondary);
}

.logo-sm {
    max-width: 40%;
    font-weight: lighter;
    font-size: 1.5rem;
    font-style: normal;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 45px;
    font-size: 1.5rem;
    height: 100%;
}

.nav-link {
    padding: 1rem 2rem;
    cursor: pointer;
}

.nav-link, .nav-link > a {
    color: var(--color-secondary);
    font-weight: bolder;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease-out;
}

.nav-link:hover > a {
    filter: brightness(.8);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    font-size: 2rem;
}

.main-title {
    color: var(--primary-hover);
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
    font-weight: bolder;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
}

.main-title--yellow {
    color: var(--color-primary);
    transform: translateX(100px);
}

.counter {
    font-weight: bolder;
    color: var(--primary-hover);
    position: absolute;
    top: 0;
    left: 100px;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 3rem;
    padding: 3rem 2rem;
    position: relative;
}

.character-container {
    width: 300px;
    background-color: var(--color-primary);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 3rem 1rem 1rem 1rem;
    transition: .4s ease-in-out;
    box-shadow:  10px 10px 20px #1111116d, 2px 2px 10px 2px rgba(255,255,255,1) inset;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.character-container:hover, .character-container:hover > * {
    box-shadow:  10px 10px 20px #1111113d, 2px 2px 10px 2px rgba(255,255,255,.8) inset;
}

.character-container * {
    color: var(--color-secondary);
}

.character-container *:not(.character-name) {
    font-family: "Raleway", "sans-serif";
}

.character-container b {
    font-weight: bolder;
}

.character-img {
    background-color: white;
    width: 100%;
    max-height: 250px;
    object-fit: scale-down;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.character-name {
    display: grid;
    place-items: center;
    letter-spacing: 2px;
    min-width: 92%;
    height: 50px;
    font-size: 1.2rem;
    font-family: "Bangers", "cursive";
    position: absolute;
    top: 8px;
    align-self: center;
    background: var(--color-primary);
    border: 1px solid #111;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow:  0px 5px 5px #1111116d, 0px 3px 10px 2px rgba(255,255,255,1) inset;
}

.character-name .gender {
    content: "";
    width: 12%;
    aspect-ratio: 1;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    right: -8px;
    border: 1px solid #555;
    border-radius: 50%;
}

.character-occupation b {
    font-weight: bolder;
    font-size: 1.5rem;
}

.character-occupation {
    font-size: 1rem;
    color: #eee;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    border: 1px solid #111;
    padding: 5px 5px;
    box-shadow:  0px 5px 5px #1111116d, 0px 3px 10px 2px rgba(255,255,255,1) inset;
}

.main-buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.main-buttons > a {
   font-size: 1.2rem;
   text-transform: uppercase;
   color: var(--color-primary);
   padding: 10px 25px;
   background-color: var(--primary-hover);
   border-radius: 10px;
   outline: none;
   border: none;
   transition: .3s;
   cursor: pointer;
   box-shadow:  10px 10px 20px #0000003d, 2px 2px 5px 2px rgba(255,255,255,.8) inset;
}

.main-buttons > a:hover {
    filter: brightness(0.9);
}

.main-buttons > a:active {
    transform: translateY(10px);
}

hr {
    color: #fff!important;
}

@media (max-width: 950px) {
    .nav-list {
        display: none;
    }

    .nav-container {
        width: 100%;
        border-radius: 0;
    }

    .main-buttons {
        margin-top: 100px;
        gap: 40px;
    }

    .logo {
        font-size: 2rem;
        flex-direction: column;
    }

    .logo-sm {
        font-size: 1rem;
        max-width: max-content;
    }

    .main-title {
        transform: translateX(-30px);
        font-size: 2rem;
    }

    .counter {
        font-size: 1.2rem;
        left: 20px;
    }
}